<article class="chat">
    <section class="conversation">
        <h2>
            {{ title }}
            <aside class="context {{#if context.expanded}}expanded{{/if}}">
                {{#if context.expanded}}
                    <button class="expand">
                        <i class="fas fa-minus"></i>
                    </button>
                {{else}}
                    <button class="expand">
                        <i class="fas fa-paperclip"></i>
                        {{#if context.documents.length}}<span>{{ context.documents.length }}</span>{{/if}}
                    </button>
                {{/if}}
            </aside>
        </h2>
        {{#each messages as | message | }}
            <section class="message {{ message.user.type }}">
                <header>
                    {{~ message.user.name ~}}
                    <time datetime="{{ message.time.timestamp }}">{{ message.time.display }}</time>
                </header>
                <section class="content">
                    <nav class="buttons">
                        {{#if isUserMessage}}
                            <button class="edit">
                                <i class="fa fa-edit"></i>
                            </button>
                        {{/if}}
                        <button class="copy">
                            <i class="fa fa-copy"></i>
                        </button>
                    </nav>
                    {{{ message.content }}}
                </section>
            </section>
        {{/each}}

        <footer>
            <section class="input">
                <textarea placeholder="{{ placeholder }}"></textarea>
                <button class="send">
                    <i class="fa fa-arrow-turn-down-left"></i>
                </button>
            </section>
        </footer>
    </section>
</article>
