<article class="chat">
    <section class="conversation">
    {{#if title}}
        <h2>
            <input type="text" value="{{ title }}" />
            <aside class="actions">
                    <button class="settings" data-action="settings">
                        <i class="fas fa-sliders"></i>
                    </button>
                    <!--
                    // todo: consider how to handle context
                    <button class="context" data-action="context">
                        <i class="fas fa-paperclip"></i>
                        {{#if context.documents.length}}<span>{{ context.documents.length }}</span>{{/if}}
                    </button>
                    //-->
            </aside>
        </h2>
        {{#each messages as | message index | }}
            <section class="message {{ message.role }}">
                <header>
                    {{~ message.user ~}}
                    <time datetime="{{ message.time }}">{{ message.time }}</time>
                </header>
                <section class="content">
                    <nav class="buttons">
                        <button class="delete" data-action="deleteMessage" data-message-id="{{index}}">
                            <i class="fa fa-trash"></i>
                        </button>
                    <!--
                    // todo: wire these buttons up
                        {{#if isUserMessage}}
                            <button class="edit">
                                <i class="fa fa-edit"></i>
                            </button>
                        {{/if}}
                        <button class="copy">
                            <i class="fa fa-copy"></i>
                        </button>
                    //-->
                    </nav>
                    {{{ message.content }}}
                </section>
            </section>
        {{/each}}

        <footer>
            <section class="input">
                {{#unless waitingForResponse}}
                    <prose-mirror name="query" value="{{query}}">
                        {{placeholder}}
                    </prose-mirror>
                    <span class="placeholder-text">How can I AIde you?</span>
                    <button class="send" data-action="send">
                        <i class="fa fa-arrow-turn-down-left"></i>
                    </button>
                {{else}}
                    <button class="stop" data-action="stop">
                        <i class="fa fa-stop"></i>
                    </button>
                {{/unless}}
            </section>
        </footer>
    {{/if}}
    </section>
</article>
