<article class="chat">
    <section class="conversation">
    {{#if title}}
        <h2>
            {{ title }}
            <aside class="actions">
                    <button class="settings" data-action="settings">
                        <i class="fas fa-sliders"></i>
                    </button>
                    <button class="context" data-action="context">
                        <i class="fas fa-paperclip"></i>
                        {{#if context.documents.length}}<span>{{ context.documents.length }}</span>{{/if}}
                    </button>
            </aside>
        </h2>
        {{#each messages as | message | }}
            <section class="message {{ message.role }}">
                <header>
                    {{~ message.user ~}}
                    <time datetime="{{ message.time }}">{{ message.time }}</time>
                </header>
                <section class="content">
                    <nav class="buttons">
                        {{#if isUserMessage}}
                            <button class="edit">
                                <i class="fa fa-edit"></i>
                            </button>
                        {{/if}}
                        <button class="copy">
                            <i class="fa fa-copy"></i>
                        </button>
                    </nav>
                    {{{ message.content }}}
                </section>
            </section>
        {{/each}}

        <footer>
            <section class="input" data-action="send" toggled="true">
                {{#unless waitingForResponse}}
                <prose-mirror name="query" value="{{query}}">
                    {{placeholder}}
                </prose-mirror>
                <span class="placeholder-text">How can I AIde you?</span>
                <button class="send">
                    <i class="fa fa-arrow-turn-down-left"></i>
                </button>
                {{/unless}}
            </section>
        </footer>
    {{/if}}
    </section>
</article>
