<aside>
    {{#each . as |conversations username|}}
        <section>
            <header>{{username}}</header>
            <ul>
                {{#each conversations as |chat|}}
                    <li class="{{#if active}}active{{/if}}" data-id="{{chat.id}}" data-user-id="{{chat.userId}}">
                        <a data-action="load">
                            {{chat.title}}
                            <span>({{chat.messages}})</span>
                        </a>
                        <i class="delete fas fa-trash" data-action="deleteConversation"></i>
                    </li>
                {{/each}}
            </ul>
        </section>
    {{/each}}
    <button data-action="new">
        <i class="fa fa-comment"></i>
        <span>New Conversation</span>
    </button>
</aside>
